@model TestPageModel
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            display: flex;
            justify-content: space-between;
        }

        .input-container {
            width: 50%;
            padding-right: 20px;
        }

        .table-container {
            width: 50%;
            overflow: auto;
        }
    </style>
</head>
<div class="text-center">
    <div class="container border p-3">
        <div class="form-group">
            <h2>Расчет теплообмена в противоточном движении кусковых материалов и газов в плотном продуваемом слое</h2>
        </div>
    </div>
    <br />
</div>

<body>
    <div class="container">
        <div class="input-container container border p-3 d-inline-block" style="max-width: 500px;">
            <h5><b>Введите свои данные для рассчета:</b></h5>
            <br>
            <form action="/Home/TestPage/" method="post">
                <div class="mb-0">
                    <label for="h" class="form-label">Высота слоя, мм:</label>
                    <input name="h" class="form-control" id="h" value="@Model.InputData?.H" style="width: 100px;" />
                </div>

                <div class="mb-0">
                    <label for="tmaterial" class="form-label">Начальная температура материала, С:</label>
                    <input name="tmaterial" class="form-control" id="tmaterial" value="@Model.InputData?.Tmaterial" style="width: 100px;" />
                </div>

                <div class="mb-0">
                    <label for="tgaza" class="form-label">Начальная температура газа, С:</label>
                    <input name="tgaza" class="form-control" id="tgaza" value="@Model.InputData?.Tgaza" style="width: 100px;" />
                </div>

                <div class="mb-0">
                    <label for="vgaza" class="form-label">Скорость газа на свободное сечение шахты, м/с:</label>
                    <input name="vgaza" class="form-control" id="vgaza" value="@Model.InputData?.Vgaza" style="width: 100px;" />
                </div>

                <div class="mb-0">
                    <label for="cgaza" class="form-label">Средняя теплоемкость газа:</label>
                    <input name="cgaza" class="form-control" id="cgaza" value="@Model.InputData?.Cgaza" style="width: 100px;" />
                </div>

                <div class="mb-0">
                    <label for="rashod" class="form-label">Расход материалов, кг/с:</label>
                    <input name="rashod" class="form-control" id="rashod" value="@Model.InputData?.Rashod" style="width: 100px;" />
                </div>
                <div class="mb-0">
                    <label for="gmaterial" class="form-label">Теплоемкость материалов, кДж:</label>
                    <input name="gmaterial" class="form-control" id="gmaterial" value="@Model.InputData?.Gmaterial" style="width: 100px;" />
                </div>

                <div class="mb-0">
                    <label for="av" class="form-label">Объемный коэффициент теплоотдачи:</label>
                    <input name="av" class="form-control" id="av" value="@Model.InputData?.AV" style="width: 100px;" />
                </div>

                <div class="mb-0">
                    <label for="dapparata" class="form-label">Диаметр аппарата, м:</label>
                    <input name="dapparata" class="form-control" id="dapparata" value="@Model.InputData?.Dapparata" style="width: 100px;" />
                </div>
                <div class="mb-0">
                    <label for="name" class="form-label">Введите название для сохранения расчёта:</label>
                    <input name="name" class="form-control" id="name" value="" style="width: 100px;" />
                </div>
                <br />
                <div>
                    <input type="submit" value="Рассчитать" class="btn btn-primary" />
                </div>

            </form>
        </div>
        <br /><br /><br /><br /><br />
        <style>
            .custom-table {
                background-color: #f2f2f2; /* Set the desired background color */
            }

                .custom-table td.bold-text {
                    font-weight: bold;
                }
        </style>


        <div class="table-container input-container container @if (Model.OutputData == null) {
        <text>d-none</text>
 } else {
        <text>border p-3</text>
 } d-inline-block">

            @if (Model.OutputData != null)
            {

                <div class="border p-3">
                    <div class="text-center">
                        <h5><b>Ваша таблица с посчитанными данными:</b></h5>
                    </div>

                    <table class="table table-hover table-bordered custom-table">
                        <tr>
                            <td class="bold-text text-center">Высота слоя</td>
                            @foreach (var number in Model.OutputData.Rows)
                            {
                                <td class="bold-text text-center">@number.X</td>
                            }
                        </tr>
                        <tr>
                            <td class="bold-text text-center">t</td>
                            @foreach (var number in Model.OutputData.Rows)
                            {
                                <td class="text-center">@number.tmal</td>
                            }
                        </tr>
                        <tr>
                            <td class="bold-text text-center">T</td>
                            @foreach (var number in Model.OutputData.Rows)
                            {
                                <td class="text-center">@number.Tbol</td>
                            }
                        </tr>
                        <tr>
                            <td class="bold-text text-center">Разность t-шек</td>
                            @foreach (var number in Model.OutputData.Rows)
                            {
                                <td class="text-center">@number.Tnt</td>
                            }
                        </tr>
                    </table>
                </div>

                <br />

                <div class="border p-3">
                    <div class="text-center">
                        <h5><b>Построенные графики по вашим данным😊😊</b></h5>
                    </div>
                    <br />
                    <div>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
                    <br />

                <br />
                <div class="form-group container border p-2 text-center" style="background-color: lightgray; border: 2px solid black;">
                         <h2>ЗДЕСЬ МОГЛА БЫ БЫТЬ ВАША РЕКЛАМА <a href="https://t.me/krosshiik">tg@krosshiik</a></h2>
                </div>

            }
        </div>

    </div>
</body>
</html>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
@{
    var outputData = Model.OutputData;
    var labels = outputData?.Rows?.Select(x => x.X).ToList() ?? new List<double>();
    var tmalData = outputData?.Rows?.Select(x => x.tmal).ToList() ?? new List<double>();
    var TntData = outputData?.Rows?.Select(x => x.Tnt).ToList() ?? new List<double>();
    var TbolData = outputData?.Rows?.Select(x => x.Tbol).ToList() ?? new List<double>();
    var jsonLabels = Json.Serialize(labels);
    var jsonTmalData = Json.Serialize(tmalData);
    var jsonTntData = Json.Serialize(TntData);
    var jsonTbolData = Json.Serialize(TbolData);
}

<script>
    const labels = @Html.Raw(jsonLabels);
    const tmalData = @Html.Raw(jsonTmalData);
    const TntData = @Html.Raw(jsonTntData);
    const tbolData = @Html.Raw(jsonTbolData);

    // Get the last label separately
    const lastLabel = labels[labels.length - 1];
    const lastTmalData = tmalData[labels.length - 1];
    const lastTntData = TntData[labels.length - 1];
    const lastTbolData = tbolData[labels.length - 1];

    // Add the last data points to match the last label
    tmalData.push(lastTmalData);
    TntData.push(lastTntData);
    tbolData.push(lastTbolData);

    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [
                {
                    label: 'Температура t',
                    data: tmalData,
                    borderWidth: 2,
                    borderColor: 'blue',
                    backgroundColor: 'transparent'
                },
                {
                    label: 'Разность температур',
                    data: TntData,
                    borderWidth: 2,
                    borderColor: 'red',
                    backgroundColor: 'transparent'
                },
                {
                    label: 'Температура T',
                    data: tbolData,
                    borderWidth: 2,
                    borderColor: 'green',
                    backgroundColor: 'transparent'
                }
            ]
        },
        options: {
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Высота слоя, м'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Температура'
                    }
                }
            }
        }
    });
</script>







